<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Quais os tipos de assédio no trabalho? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Quais os tipos de assédio no trabalho?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <h1 class="text-xl font-semibold text-center w-full">O que configura assédio moral?</h1>
              <p class="indent-4 text-base">
                O assédio moral no trabalho é representado por toda e qualquer conduta abusiva manifestada no ambiente profissional por meio de palavras, comportamentos, gestos,
                atos ou escritos que possam prejudicar uma pessoa.
              </p>
              <p class="indent-4 text-base">
                Esse prejuízo pode estar relacionado à dignidade, à personalidade ou à integridade psíquica e física do indivíduo, pondo em risco o seu emprego ou destruindo o
                ambiente de trabalho.
              </p>
              <p class="indent-4 text-base">Para que as situações citadas acima sejam consideradas assédio, é necessário que a conduta se repita por um certo tempo.</p>
              <p class="indent-4 text-base">Dessa forma, é possível comprovar que há, sim, uma espécie de perseguição ao colaborador.</p>
              <p class="indent-4 text-base">
                Porém, em cenários em que há insultos e xingamentos, não há necessidade de recorrência, apenas um incidente já é suficiente para configurar o quadro como assédio
                moral.
              </p>
              <p class="indent-4 text-base">Abaixo, listamos algumas situações que podem ser consideradas assédio moral no trabalho. Confira:</p>
              <ul class="flex flex-col list-disc list-inside text-base font-normal gap-1">
                <li>Xingamentos e agressões verbais.</li>
                <li>Brincadeiras constrangedoras e ofensivas.</li>
                <li>Apelidos pejorativos e vexatórios.</li>
                <li>Humilhações, sejam elas públicas ou privadas.</li>
                <li>Ameaças de punição ou demissão.</li>
                <li>Jornadas de trabalho excessivas.</li>
                <li>Punições injustas.</li>
                <li>Metas abusivas ou inalcançáveis.</li>
                <li>Falta de instruções ou equipamentos para realizar o trabalho.</li>
                <li>Fornecimento de informações erradas para prejudicar o profissional.</li>
                <li>Acusações falsas sobre erros não cometidos.</li>
                <li>Pedido de demissão forçado.</li>
              </ul>
              <p class="indent-4 text-base">
                Várias outras situações podem ser consideradas assédio moral, como sobrecarga de tarefas, isolamento do profissional, restrições ao uso do banheiro etc.
              </p>
              <p class="indent-4 text-base">
                Sempre que houver o intuito de inferiorizar, humilhar e constranger o empregado, causando prejuízo físico e psicológico, existe a chance de caracterizar o ato como
                assédio moral.
              </p>
              <p class="indent-4 text-base">Porém, mais uma vez, é necessário que o assediador o faça mais de uma vez para comprovar a perseguição.</p>
              <h1 class="text-xl font-semibold text-center w-full">Quais as formas de assédio moral?</h1>
              <p class="indent-4 text-base">O assédio moral no trabalho pode ser observado em três diferentes manifestações: vertical, horizontal e mista.</p>
              <p class="indent-4 text-base">O modo vertical é aquele no qual as relações de trabalho são marcadas pela diferença de posições hierárquicas. Ele pode ser:</p>
              <ul class="flex flex-col list-disc list-inside text-base font-normal gap-1">
                <li><span class="font-semibold">Ascendente</span>: quando o assédio é cometido pelo subordinado.</li>
                <li><span class="font-semibold">Descendente</span>: quando o assédio é cometido pelo superior direto ou indireto.</li>
              </ul>
              <p class="indent-4 text-base">
                O modo horizontal é aquele em que não há diferenças hierárquicas entre os envolvidos. Ou seja, o assédio é cometido por alguém no mesmo nível, um colega, sem que
                haja subordinação.
              </p>
              <p class="indent-4 text-base">
                Por fim, o modo misto é uma junção do modo vertical e horizontal, quando a pessoa é assediada por superiores hierárquicos e por colegas do mesmo nível.
              </p>
              <h1 class="text-xl font-semibold text-center w-full">O que configura assédio sexual?</h1>
              <p class="indent-4 text-base">
                O assédio sexual, por sua vez, é caracterizado por um comportamento indesejado de cunho sexual, podendo ocorrer de maneira física ou verbal.
              </p>
              <p class="indent-4 text-base">Por isso, ao contrário do que muitas pessoas pensam, esse tipo de assédio não é descrito apenas como estupro ou outros atos físicos.</p>
              <p class="indent-4 text-base">
                Ele é todo e qualquer comportamento que possa constranger ou diminuir a pessoa assediada, abalando a forma como ela enxerga seu corpo e sua própria sexualidade.
              </p>
              <p class="indent-4 text-base">
                Embora ele possa atingir todo tipo de pessoa, as mais afetadas são as mulheres.O assédio sexual no ambiente de trabalho se manifesta como uma forma de exercer poder
                e controle sobre essas mulheres no contexto profissional.
              </p>
              <p class="indent-4 text-base">Segundo a lei, o assédio sexual é o ato de:</p>
              <p class="font-medium italic text-lg">
                Constranger alguém, com o intuito de obter vantagem ou favorecimento sexual, prevalecendo-se o agente da sua condição de superior hierárquico ou ascendência
                inerentes ao exercício de emprego, cargo ou função”. Artigo 216-A
              </p>
              <p class="indent-4 text-base">
                Uma das principais características desse tipo de assédio é o não consentimento, ou seja, a pessoa assediada não corresponde à investida sexual do agressor.
              </p>
              <p class="indent-4 text-base">
                Assim como no caso do assédio moral, diversas situações podem ser consideradas assédio sexual. Contudo, para ilustrar, listamos aqui as mais comuns:
              </p>
              <ul class="flex flex-col list-disc list-inside text-base font-normal gap-1">
                <li>Toques indesejados que causem desconforto, como encostar, apertar, abraçar ou beijar alguém.</li>
                <li>Comentários sobre aparência, roupa e atributos físicos com conotação sexual.</li>
                <li>Piadas de carácter sexual ou obsceno.</li>
                <li>E-mails, notas, cartas, mensagens ou chamadas de natureza sexual.</li>
                <li>Intimidação e ameaças diretas ou indiretas com o objetivo de obter vantagens sexuais.</li>
                <li>Compartilhamento de imagens pornográficas.</li>
                <li>Pressão para participar de encontros e saídas.</li>
              </ul>
              <p class="indent-4 text-base">
                Pela lei, não há atitudes determinadas que configuram o assédio sexual. Essa classificação vai depender da situação, por isso é fundamental procurar ajuda assim que
                algo nesse sentido ocorrer.
              </p>
              <p class="indent-4 text-base">
                Vale lembrar que elogios sem conteúdo sexual, cantadas ou flertes não são considerados assédio sexual, embora sejam inadequados ao ambiente de trabalho e gerem
                constrangimento à pessoa envolvida.
              </p>
              <h1 class="text-xl font-semibold text-center w-full">Quais as formas de assédio sexual?</h1>
              <p class="indent-4 text-base">
                Ele pode ocorrer de maneira vertical, quando uma pessoa, seja homem ou mulher, aproveita sua posição de chefe ou líder para obter vantagens sexuais ou qualquer
                outro tipo de favorecimento.
                <br />
                Essa é a forma mais clássica de assédio e está prevista como crime no Código Penal.
              </p>
              <p class="indent-4 text-base">
                A forma horizontal ocorre quando não há distinção hierárquica entre o assediador e o assediado. Dessa forma, o constrangimento é notado entre colegas de trabalho.
                <br />
                Diferentemente da forma vertical, a horizontal não é considerada crime de assédio segundo o Código Penal, mas pode ser enquadrada em outros tipos de pena para que
                haja a devida condenação, bem como é reconhecida na esfera Trabalhista e Cível.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
