<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Como prevenir o assédio nas empresas? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Como prevenir o assédio nas empresas?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <p class="indent-4 text-base">
                É fundamental que as empresas busquem se informar sobre o tema e difundir materiais informativos para toda a equipe, como a referida cartilha criada pelo Tribunal
                Superior do Trabalho e pelo Conselho Superior da Justiça do Trabalho.
              </p>
              <p class="indent-4 text-base">O conhecimento é um instrumento forte e eficaz em programas de prevenção ao assédio moral no ambiente de trabalho.</p>
              <p class="indent-4 text-base">
                Além da conscientização, é importante criar um canal de denúncia sério e eficaz, no qual a pessoa assediada se sinta segura e amparada para denunciar a injúria e
                exigir as devidas providências por parte da empresa.
              </p>
              <p class="indent-4 text-base">
                Como mencionamos ao longo do artigo, a resolução do problema deve acontecer em curto prazo, para não gerar desgaste emocional da vítima e impactar a imagem da
                organização.
              </p>
              <p class="indent-4 text-base">
                Quando os colaboradores veem um empenho da empresa em resolver os problemas com rapidez e eficiência, eles se sentem acolhidos, o que contribui para um clima
                organizacional favorável.
              </p>
              <h1 class="text-xl font-semibold text-center w-full">Qual o papel do RH em combater o problema?</h1>
              <p class="indent-4 text-base">
                Enquanto setor responsável pelo recurso mais valioso da empresa — o capital humano —, o RH deve promover certas ações e políticas não apenas para prevenir o
                assédio, mas para combater o problema caso esteja acontecendo.
              </p>
              <p class="indent-4 text-base">
                O primeiro passo para isso deve ser informar todo o time (gestores, empregados, estagiários etc.) sobre o que é assédio, suas características, consequências e,
                principalmente, quais são as medidas punitivas.
              </p>
              <p class="indent-4 text-base">
                Depois, é necessário desenhar as atribuições e condições de trabalho de maneira clara, para que não haja dúvidas quanto ao que é ou não assédio em cada situação.
              </p>
              <p class="indent-4 text-base">Sabendo qual é a postura adequada de colegas e gestores, o trabalhador conseguirá diferenciar sozinho uma situação de abuso.</p>
              <p class="indent-4 text-base">Essas diretrizes devem estar descritas em um documento oficial da empresa a ser disponibilizado para todos os funcionários.</p>
              <p class="indent-4 text-base">É importante que todos estejam na mesma página em relação ao código de ética e de cultura da organização.</p>
              <p class="indent-4 text-base">
                Por fim, vê-se a necessidade de observar o time, avaliar a maneira como os colegas se relacionam, se existe um bom relacionamento entre os membros do time, uma
                cultura colaborativa forte etc.
              </p>
              <p class="indent-4 text-base">
                É por essa régua que o RH conseguirá medir se as relações estão saudáveis ou observar se houve mudança de comportamento em um ou mais colaboradores.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
