<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>O que diz a lei sobre o assédio no trabalho? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">O que diz a lei sobre o assédio no trabalho?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify gap-1">
              <p class="indent-4 text-base">
                Talvez nem todos saibam, mas o assédio no trabalho é crime, está previsto pelo Código Penal e pode levar à pena de até dois anos de prisão. Em casos mais graves de
                assédio sexual, a pena pode ser ainda maior.
              </p>
              <p class="indent-4 text-base">Mas, nem sempre foi assim. Apenas nos últimos 50 anos passou-se a discutir sobre assédio no trabalho e suas implicações.</p>
              <p class="indent-4 text-base">
                Portanto, ainda não há uma legislação específica sobre assédio moral no trabalho, mas já tramita no Congresso Nacional alguns projetos sobre o assunto.
              </p>
              <p class="indent-4 text-base">Um deles pretende incluir no artigo 146-A do Código Penal o seguinte trecho:</p>
              <p class="font-medium italic text-lg">
                “Depreciar, de qualquer forma e reiteradamente a imagem ou o desempenho de servidor público ou empregado, em razão de subordinação hierárquica funcional ou laboral,
                sem justa causa, ou tratá- lo com rigor excessivo, colocando em risco ou afetando sua saúde física ou psíquica. (…) Pena: detenção de 1 (um) a 2 (dois) anos”.
                Artigo 146-A
              </p>
              <p class="indent-4 text-base">
                Há várias outras propostas de textos a serem incluídos no Código Penal para que o assédio moral no trabalho seja devidamente abordado, porém não há novidade quanto
                ao andamento do projeto.
              </p>
              <p class="indent-4 text-base">
                A Organização Internacional do Trabalho (OIT), no entanto, tem várias convenções que tratam da proteção psíquica e física dos trabalhadores, como dita a convenção
                nº 155, de 1981.
              </p>
              <p class="indent-4 text-base">
                O assédio moral está inserido no âmbito do patrimônio imaterial da vítima, por isso acarreta a obrigação do agressor de indenizar a pessoa assediada.
              </p>
              <p class="indent-4 text-base">Essa determinação está fundamentada nos artigos 5º, V e X, da Constituição Federal, e nos artigos 186, 187 e 927 do Código Civil.</p>
              <p class="indent-4 text-base">
                O Tribunal Superior do Trabalho e o Conselho Superior da Justiça do Trabalho, visando implementar a Política de Prevenção e Combate ao Assédio, criaram uma cartilha
                informativa e muito bem elaborada para difundir o tema e ajudar as empresas a prevenirem o assédio no ambiente de trabalho.
              </p>
              <h1 class="text-xl font-semibold text-center w-full">O que é responsabilidade da empresa?</h1>
              <p class="indent-4 text-base">
                É importante frisarmos que é responsabilidade da empresa fiscalizar todos os atos praticados pelos funcionários, pois eles agem em seu nome.
              </p>
              <p class="indent-4 text-base">Isso quer dizer que a organização deve se responsabilizar pelos prejuízos causados pelos colaboradores.</p>
              <p class="indent-4 text-base">Veja o que diz os artigos 932 e 933 do Código Civil:</p>
              <p class="font-medium italic text-lg">“São também responsáveis pela reparação civil:</p>
              <ol class="flex flex-col gap-1 indent-4 list-inside list-[upper-roman] font-medium italic text-lg">
                <li>os pais, pelos filhos menores que estiverem sob sua autoridade e em sua companhia;</li>
                <li>o tutor e o curador, pelos pupilos e curatelados, que se acharem nas mesmas condições;</li>
                <li>o empregador ou comitente, por seus empregados, serviçais e prepostos, no exercício do trabalho que lhes competir, ou em razão dele;</li>
                <li>
                  os donos de hotéis, hospedarias, casas ou estabelecimentos onde se albergue por dinheiro, mesmo para fins de educação, pelos seus hóspedes, moradores e educandos;
                </li>
                <li>os que gratuitamente houverem participado nos produtos do crime, até a concorrente quantia”. Artigo 932</li>
              </ol>
              <p class="font-medium italic text-lg">
                “As pessoas indicadas nos incisos I a V do artigo antecedente, ainda que não haja culpa de sua parte, responderão pelos atos praticados pelos terceiros ali
                referidos”. Artigo 933
              </p>
              <p class="indent-4 text-base">Como pudemos observar, o empregador é responsável pelos atos praticados pelos seus empregados.</p>
              <p class="indent-4 text-base">Por isso, é evidente a responsabilidade da empresa em arcar com as verbas indenizatórias referentes ao assédio.</p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
