<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>O que fazer em caso de assédio no trabalho? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">O que fazer em caso de assédio no trabalho?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify gap-2">
              <p class="indent-4 text-base">
                Independentemente de qual seja o tipo de assédio no trabalho, esse é um assunto bastante sério e delicado, que precisa ser encarado como tal.
              </p>
              <p class="indent-4 text-base">
                O primeiro passo, portanto, é saber identificar o problema e classificá-lo para, então, tomar as medidas cabíveis. Mas, essa identificação só é possível quando a
                vítima do assédio se sente segura para denunciar o acontecimento aos seus superiores.
              </p>
              <p class="indent-4 text-base">Veja abaixo alguns passos simples a serem seguidos caso haja alguma situação de assédio no trabalho dentro da sua empresa.</p>
              <ol class="flex flex-col gap-1 list-decimal list-inside indent-4 text-xl font-semibold">
                <li>
                  Denúncia
                  <p class="text-justify text-base font-normal indent-8">
                    Reportar a situação aos superiores hierárquicos do assediador é crucial para que a empresa possa tomar as devidas providências.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    Vale lembrar, no entanto, que o assédio tem consequências intensas para a saúde mental do trabalhador, fazendo com que a pessoa assediada se sinta inibida ou
                    com medo de fazer a denúncia.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">Nesse caso, qualquer pessoa que presenciou o assédio pode se manifestar como testemunha.</p>
                  <p class="text-justify text-base font-normal indent-8">
                    Ao fazer a denúncia, é importante que a vítima tente coletar o máximo de provas possível para embasar a sua fala.
                  </p>
                </li>
                <li>
                  Apuração
                  <p class="text-justify text-base font-normal indent-8">
                    Recebida a acusação, é hora dos empregadores e gestores de RH conversarem sobre o caso e pensarem em conjunto sobre quais os próximos passos.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    Além das sérias consequências que o abuso traz às vítimas, a empresa também pode ter sua imagem institucional prejudicada diante da sociedade, fazendo com que
                    ela enfrente uma verdadeira crise interna.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    Além disso, casos de assédio afetam todo o corpo de funcionários, criando uma situação degradante, com redução na produtividade, clima organizacional ruim,
                    aumento de doenças ocupacionais ou acidentes de trabalho etc.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    É por isso que a empresa precisa agir rápido para não aumentar os danos à sua imagem e às condições psicológicas dos envolvidos — imagine como é difícil para a
                    pessoa assediada ter que reviver aquele momento várias vezes até que uma medida seja tomada em definitivo.
                  </p>
                </li>
                <li>
                  Punição
                  <p class="text-justify text-base font-normal indent-8">Após coletar as provas necessárias e apurar o fato, chega o momento de punir os assediadores.</p>
                  <p class="text-justify text-base font-normal indent-8">
                    Vale lembrar que é obrigação da empresa tomar todas as providências cabíveis para colocar um fim no caso.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    O assediador pode ser advertido formalmente ou até mesmo ser punido de maneira severa. Essa punição, inclusive, envolve demissão por justa causa.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    No caso de uma comprovada conivência da empresa — implicando a não resolução do caso em curto prazo —, a pessoa assediada pode recorrer ao Ministério Público do
                    Trabalho e à Superintendência Regional do Trabalho para fazer uma denúncia formal.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    Existe, ainda, a possibilidade de uma rescisão indireta do contrato de trabalho, ou seja, uma espécie de justa causa do empregador. No entanto, para tal é
                    necessário contar com testemunhas para comprovar a situação.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    Ainda, caso o assédio moral seja comprovado judicialmente, o trabalhador tem o direito de ser indenizado pelos danos morais sofridos.
                  </p>
                  <p class="text-justify text-base font-normal indent-8">
                    Contudo, o valor da indenização é um tópico bastante complexo e varia de acordo com o entendimento do juiz responsável pelo caso.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
