<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>O que é assédio? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">O que é assédio?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <p class="indent-4 text-base">
                O assédio no trabalho é uma prática que tem como objetivo degradar o colaborador no contexto profissional. Contudo, infelizmente, esse não é um fenômeno recente.
              </p>
              <p class="indent-4 text-base">
                Vemos cada vez mais nas sociedades contemporâneas um estímulo à competitividade de forma pouco saudável. Essa tendência leva as pessoas ao individualismo, que, por
                sua vez, intensifica a prática do assédio.
              </p>
              <p class="indent-4 text-base">
                As consequências para as vítimas são inúmeras, gerando problemas de caráter físico e psicológico. Por outro lado, a preocupação das empresas em promover um ambiente
                saudável e seguro para os colaboradores é crescente, havendo, cada vez mais, o envolvimento do RH na criação de políticas de combate ao assédio e promoção da saúde.
              </p>
              <p class="indent-4 text-base">
                Foi pensando em ajudar a sua empresa a identificar e prevenir o assédio no trabalho que desenvolvemos este conteúdo. Nele, vamos explicar um pouco mais sobre essa
                prática e suas consequências devastadoras, além de mostrar como o RH pode atuar na repressão do assédio.
              </p>
              <h1 class="text-xl font-semibold text-center w-full">O que é assédio no trabalho?</h1>
              <p class="indent-4 text-base">Segundo os dicionários, a palavra assédio está relacionada ao ato de abordar alguém de maneira insistente, invasiva e inoportuna.</p>
              <p class="indent-4 text-base">Essa abordagem, muitas vezes, tende a ser recorrente, gerando constrangimento e humilhação às vítimas em vários momentos.</p>
              <p class="indent-4 text-base">
                Dessa forma, o assédio no trabalho é aquele em que esses comportamentos inapropriados e degradantes ocorrem dentro do ambiente laboral, acometendo servidores,
                colaboradores, estagiários ou mesmo grandes grupos de uma mesma empresa.
              </p>
              <p class="indent-4 text-base">
                Por vezes, os trabalhadores encontram certa dificuldade em classificar uma situação como abusiva justamente pela carga semântica pesada que a própria palavra
                carrega consigo.
              </p>
              <p class="indent-4 text-base">
                Ao contrário do que a maioria das pessoas pensam, o assédio não é apenas uma situação extrema, que envolve necessariamente violência física.
              </p>
              <p class="indent-4 text-base">
                Ele pode estar presente em cenários simples e comuns ao dia a dia de uma empresa, conversas de corretor, comentários por mensagem, e-mails, reuniões etc.
              </p>
              <p class="indent-4 text-base">Além disso, não há sempre uma relação de hierarquia, podendo haver entre funcionários de um mesmo nível ou de níveis diferentes.</p>
              <p class="indent-4 text-base">
                Abordagens que causam algum tipo de desconforto, piadas desagradáveis que ultrapassam o limite estabelecido pela pessoa, intimidação e mesmo exposição sem
                consentimento são alguns exemplos de assédio.
              </p>
              <p class="indent-4 text-base">Fazendo uma breve análise, vemos que já presenciamos essas cenas em vários locais, não é mesmo?</p>
              <h1 class="text-xl font-semibold text-center w-full">Mas, por que situações assim ocorrem?</h1>
              <p class="indent-4 text-base">
                Esse é um tema muito complexo, com diversos desdobramentos a serem pesquisados e debatidos. Por isso, nosso intuito aqui não é dar uma resposta, mas propor uma
                reflexão sobre algumas das possíveis causas do assédio.
              </p>
              <p class="indent-4 text-base">
                Para ficar bastante claro, vamos resumir assédio no trabalho como todo e qualquer comportamento indesejado, baseado em discriminação e praticado no ambiente
                profissional.
              </p>
              <p class="indent-4 text-base">
                Ele tem o objetivo ou o efeito de perturbar e constranger o indivíduo, afetando a sua dignidade ou criando um ambiente intimidativo, hostil, degradante e
                desestabilizador. Vemos, então, que assédio e relações de poder estão muito relacionados. Ele não é apenas um quadro individual, mas uma reprodução de práticas
                bastante enraizadas no contexto social, cultural e econômico em que estamos inseridos.
              </p>
              <p class="indent-4 text-base">
                Sabemos que o assédio atinge diferentes gêneros, sexos, etnias, raças e idades. Contudo, sabemos também que, na nossa sociedade, alguns grupos costumam ser
                comumente alvos de discriminação em maior escala do que outros.
              </p>
              <p class="indent-4 text-base">
                Como o ambiente de trabalho é uma espécie de microcosmo — uma representação social em menor escala de hábitos e costumes da comunidade em que vivemos —, é de se
                esperar que essa falta de equidade também se manifeste dentro das empresas. Nesse novo contexto, os impactos do assédio são diferenciados, trazendo consequências
                relacionadas ao acesso e permanência em empregos, ascensão na carreira etc.
              </p>
              <p class="indent-4 text-base">
                Percebe como isso resulta em aumento das desigualdades, principalmente as relacionadas a gênero e raça? Se não for combatido, ficamos presos em um ciclo vicioso,
                cujos resultados são devastadores para os colaboradores e para a empresa.
              </p>
              <p class="indent-4 text-base">
                Agora que você já conseguiu entender brevemente o que significa assédio no trabalho e percebeu como essas atitudes são um reflexo de desvios presentes em nossa
                cultura, chegou o momento de mostrarmos quais os tipos de assédio mais comuns no âmbito profissional.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
