<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Como oferecer feedbacks de acordo com o perfil comportamental? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Como oferecer feedbacks de acordo com o perfil comportamental?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <p>Feedback e perfil comportamental andam juntos dentro de uma gestão de pessoas.</p>
              <p>Afinal, saber usar a linguagem e o tom de voz correto para iniciar essa conversa é fundamental para que ela seja positiva!</p>
              <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-xl">
                <li>
                  Para Comunicadores
                  <p class="text-base indent-8">
                    O perfil comunicador é mais positivo, com habilidades mais racionais e bem informal. Portanto, ter uma conversa mais assertiva e otimista é a melhor saída para
                    dar feedback aos comunicadores.
                  </p>
                  <p class="text-base indent-8">Dessa forma, você conseguirá prender a atenção para que absorvam melhor todo o conteúdo.</p>
                </li>
                <li>
                  Para Analistas
                  <p class="text-base indent-8">
                    Trata-se de pessoas que preferem trabalhar individualmente, com informações passadas de forma direta e mais formal. Normalmente, durante a conversa do feedback,
                    o analista saberá o que existe de errado e o que deve fazer para mudar a situação.
                  </p>
                  <p class="text-base indent-8">Mas é necessário que o feedback para analistas nunca seja na frente de outras pessoas, uma vez que eles não gostam de exposição.</p>
                </li>
                <li>
                  Para Executores
                  <p class="text-base indent-8">
                    Os executores são profissionais mais ágeis, que costumam fazer mais de uma atividade ao mesmo tempo. Eles não se sentem intimidados no momento do feedback,
                    porém, para prender a atenção deles é preciso desafiá-los a serem melhores, a se doarem mais. Ainda, durante o feedback para executores seja objetivo e direto
                    em suas observações.
                  </p>
                </li>
                <li>
                  Para Planejadores
                  <p class="text-base indent-8">
                    Os planejadores são bons no trabalho em equipe, em tarefas que exijam atenção e se preocupam com o bem-estar de todos. Eles esperam ansiosamente pelo momento do
                    feedback, pois precisam saber como estão se saindo em suas tarefas. Para estimular um colaborador, durante o feedback para planejadores é preciso que o gestor
                    mostre que sabe que ele é capaz de se superar.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
