<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>O que é feedback? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">O que é feedback?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify gap-1">
              <p class="indent-4 text-base">
                Feedback é uma resposta dada a um profissional com o intuito de estimulá-lo. Uma avaliação que pode ser positiva, construtiva ou negativa. Essa ferramenta é
                eficiente por permitir que a comunicação flua melhor dentro do ambiente corporativo.
              </p>
              <p class="indent-4 text-base">
                Existem diferentes formas de abordar o colaborador e adotar o feedback dentro de uma empresa. Quando incluída na
                <span class="text-electric-violet-500">cultura organizacional</span>, pode-se potencializar as ações e conseguir resultados que impactam a performance e o
                <span class="text-electric-violet-500">clima do ambiente de trabalho</span>.
              </p>
              <p class="indent-4 text-base">
                Trata-se de uma <span class="text-electric-violet-500">resposta oferecida ao colaborador</span> como forma de estímulo. Ele é feito por meio de uma
                <span class="text-electric-violet-500">avaliação do líder</span> para o liderado ou vice-versa.
              </p>
              <p class="indent-4 text-base">
                O objetivo é levar o interlocutor a entender mais sobre o seu comportamento dentro da empresa, mostrando como ele foi interpretado ou recebido pelo próximo.
              </p>
              <p class="indent-4 text-base">
                Portanto, o feedback é um meio de comunicação, é uma demonstração de investir na relação entre empresa e colaborador para que haja o aprendizado constante e melhor
                desenvolvimento profissional.
              </p>
              <p class="indent-4 text-base">
                Sendo assim, dar um feedback quer dizer que você se importa com o seu profissional o suficiente para sair da sua zona de conforto e ter uma conversa bastante
                aberta.
              </p>
              <p class="indent-4 text-base">
                Mas que ela seja feita de forma profissional, com cuidado e carinho. Por isso, precisa ser preparado em seus detalhes para que seja algo transformador e eficiente.
              </p>
              <p class="indent-4 text-base">
                Além disso, vale ressaltar que o feedback é composto por mais do que palavras. Por isso, o tom de voz que usamos está envolvido no meio dessa comunicação, então,
                atenção para que não soe como agressivo.
              </p>
              <p class="indent-4 text-base">
                Ainda, a expressão corporal também conta bastante na hora de ter essa conversa. Logo, tome cuidado com os seus gestos para que eles não expressem algo inadequado.
              </p>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
