<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Quais os benefícios do feedback para os colaboradores? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Quais os benefícios do feedback para os colaboradores?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <p class="indent-4 text-base">Confira quais são os benefícios do feedback para a sua equipe:</p>
              <ul class="text-xl font-semibold">
                <li>
                  Benefícios do feedback para sua equipe
                  <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-base font-normal">
                    <li>Proporciona uma maior proximidade entre o gestor e o colaborador;</li>
                    <li>
                      Dá mais confiança para o profissional, pois ele se sente seguro e sabe que pode contar com a ajuda do seu líder, bem como da empresa para melhorar o seu
                      desempenho;
                    </li>
                    <li>
                      É um alerta que dá a chance ao colaborador de aprimorar as suas habilidades ou tomar conhecimento sobre alguma ação que não foi positiva, evitando ser
                      surpreendido com uma possível demissão;
                    </li>
                    <li>
                      É uma maneira de ter um feedback de mão dupla, afinal, se há algo atrapalhando o relacionando entre o gestor e o colaborador, é possível que o líder tenha
                      conhecimento de alguma atitude que não seja positiva;
                    </li>
                    <li>
                      Diminui o turnover dentro da empresa, pois, ao aplicar o feedback com periodicidade, a equipe tem chances de melhorar o seu desempenho e o meio de produção,
                      além de mostrar a seu líder que está ao seu lado, apoiando seus passos e transformações;
                    </li>
                    <li>
                      Uma forma do colaborador melhorar o seu marketing pessoal, pois o feedback tem essa função, de transformar profissionais, já que as instruções são
                      personalizadas;
                    </li>
                    <li>
                      Faz da empresa um local melhor para se trabalhar, portanto, proporciona ao colaborador um ambiente propício, a partir do momento em que a organização mostra a
                      sua empatia, colaboração e cuidado com os seus profissionais. Dessa forma, a relação fica mais sólida.
                    </li>
                  </ul>
                </li>
                <li>
                  Benefícios do feedback para os gestores
                  <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-base font-normal">
                    <li>Colaboradores sempre alinhados com os objetivos da empresa</li>
                    <li>Aumento da produtividade da equipe.</li>
                    <li>Motivação dos profissionais.</li>
                    <li>Retenção de talentos, o que diminui os gastos com desligamentos de colaboradores.</li>
                    <li>Gera economia.</li>
                    <li>Relação sólida entre gestores e equipe.</li>
                    <li>Gestores mais atentos ao que acontece ao seu redor, identificando corretamente os problemas e os corrigindo com assertividade.</li>
                  </ul>
                </li>
                <li>
                  Para a avaliação de desempenho
                  <p class="text-base font-normal indent-4">
                    A avaliação de desempenho é uma poderosa ferramenta de gestão de pessoas, uma vez que contribui para o crescimento e desenvolvimento do colaborador como
                    profissional e como indivíduo.
                  </p>
                  <p class="text-base font-normal indent-4">Mas de nada adianta avaliar se não oferecer feedback como uma devolutiva para o colaborador.</p>
                  <p class="text-base font-normal indent-4">
                    Ao receber feedback sobre seu desempenho, o colaborador pode saber mais sobre seu perfil comportamental, entendendo quais são as suas soft e hard skills
                    predominantes e quais ações ele deve realizar para desenvolver as competências que precisa aprimorar.
                  </p>
                  <p class="text-base font-normal indent-4">
                    Assim, o profissional passa a se sentir valorizado e desafiado a fazer parte de uma empresa que busca sua constante evolução, o que o faz a trabalhar com maior
                    motivação e engajamento, melhorando cada vez mais seu desempenho.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
