<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Como dar e receber feedbacks? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Como dar e receber feedbacks?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <h1 class="text-xl font-semibold w-full text-center">Dicas de como dar e receber feedbacks</h1>
              <ul class="flex flex-col gap-1 text-base font-normal list-inside list-disc">
                <li>Primeiramente, ele deve ser dado em tempo, ou seja, não pode esperar muito após a ocorrência de um fato para ter essa conversa com o profissional;</li>
                <li>É preciso se preparar adequadamente, pensar nos elementos para que o feedback seja construtivo e o mais objetivo possível;</li>
                <li>
                  Não usar a prática do sanduíche, ou seja, não inserir uma crítica no meio dos elogios. Se o feedback é para elogiar, que essa seja somente a finalidade, mas se
                  for corretivo, fale sobre a situação e mostre o caminho para que não ocorra novamente;
                </li>
                <li>
                  Pensar no tom a ser usado nessa conversa para que não se torne algo destrutivo e o colaborador enxergue a crítica como uma punição e não como uma forma de
                  aprimorar o seu lado profissional;
                </li>
                <li>O feedback construtivo é o melhor a ser aplicado, pois os profissionais estão sempre em busca de evolução, não somente de elogios ou críticas;</li>
                <li>
                  Aplicar o feedback para os gêneros de forma imparcial, independentemente de ser homem ou mulher — todos são profissionais e devem ser tratados com respeito,
                  independentemente do sexo.
                </li>
              </ul>
              <h1 class="text-xl font-semibold w-full text-center">A melhor maneira de receber o feedback</h1>
              <p class="text-base font-normal indent-4">
                Em contrapartida, quem recebe o feedback também deve atuar de forma ativa, não somente com passividade. Para tanto, é preciso que o receptor aja de forma que esse
                retorno seja útil em seu processo de desenvolvimento.
              </p>
              <p class="text-base font-normal">Logo, a pessoa que vai receber o feedback precisa buscar as seguintes reações:</p>
              <ul class="flex flex-col gap-1 text-base font-normal list-inside list-disc">
                <li>Reconheça que essa conversa é construtiva, pois pode melhorar a sua produtividade e relacionamento com toda a equipe.</li>
                <li>
                  Veja a situação com a perspectiva de quem está aplicando o feedback, afinal, colocar-se no lugar do outro é importante para analisar a situação com outra visão,
                  assim, lidará melhor com o que está sendo apresentado.
                </li>
                <li>Preste atenção se o feedback é sobre o seu comportamento e, em caso afirmativo, transforme-o em algo positivo.</li>
                <li>
                  Pensar no tom a ser usado nessa conversa para que não se torne algo destrutivo e o colaborador enxergue a crítica como uma punição e não como uma forma de
                  aprimorar o seu lado profissional.
                </li>
                <li>Ouça atentamente para poder dar respostas coerentes e a conversa fluir abertamente.</li>
                <li>Agradeça o feedback e use-o de forma apropriada para fazer as mudanças necessárias.</li>
                <li>Tenha consciência de que você mesmo pode encontrar soluções confortáveis para mudar a situação e ser melhor a cada dia.</li>
                <li>Procure fazer as transformações de forma construtiva.</li>
                <li>Quando for a sua hora de falar, seja claro e expresse bem os seus sentimentos e o que pensa sobre o feedback.</li>
              </ul>
              <p class="text-base font-normal indent-4">
                Por fim, é importante que tanto quem vai aplicar quanto quem receberá o feedback faça dessa conversa algo saudável e construtivo. Logo, tenham em mente que juntos
                podem transformar o ambiente de trabalho em algo positivo para ambos.
              </p>

              <h1 class="text-xl font-semibold w-full text-center">Quais são os erros que devem ser evitados?</h1>
              <p class="text-base font-normal indent-4">
                Assim como existem as atitudes corretas, é preciso ficar atento aos erros que precisam ser evitados na hora do feedback, por exemplo:
              </p>
              <ul class="flex flex-col gap-1 text-base font-normal list-inside list-disc">
                <li>o feedback não é pessoal, e sim profissional, portanto, tome cuidado para a conversa não perder o rumo.</li>
                <li>Não ser específico e não estruturar corretamente o feedback.</li>
                <li>citar outros nomes no meio da conversa, de pessoas que não estejam presentes no local.</li>
                <li>os feedbacks construtivos devem ser aplicados de modo individual e não em público.</li>
                <li>não se preparar para aplicar o feedback.</li>
                <li>trata-se de uma conversa séria, portanto, não deve haver piadas durante o feedback.</li>
                <li>o feedback precisa ser aplicado com tempo, não pode ser algo corrido.</li>
                <li>falar em tom punitivo.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
