<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Importância do Feedback para a empresa e colaboradores. | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Importância do Feedback para a empresa e colaboradores.</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <p class="indent-4 text-base">
                Uma empresa é formada por profissionais que trabalham em conjunto. Entretanto, seus comportamentos são diferentes, afinal, são pessoas diferentes.
              </p>
              <p class="indent-4 text-base">
                Logo, a organização precisa ficar atenta para que todos atendam às necessidades. Somente com uma boa equipe é que uma instituição se manterá competitiva e
                sustentável no mercado em que atua.
              </p>
              <p class="indent-4 text-base">
                Por isso, o feedback é tão importante, uma vez que ele ajuda a empresa a aprimorar a sua equipe para que o produto ou serviço que eles executam se tornem cada vez
                melhor. Além de terem profissionais cada vez mais qualificados em sua área.
              </p>
              <p class="indent-4 text-base">
                O mercado já recebe muito bem o feedback de seus clientes e sabe que isso é importante para que uma empresa se mantenha em alta no mercado. Porém, é preciso que
                essa cultura também seja aceita de forma bem aberta dentro das organizações.
              </p>
              <p class="indent-4 text-base">O feedback, vindo de um consumidor para a empresa, pode ser feito por meio de uma ferramenta chamada Net Promoter Score (NPS).</p>
              <p class="indent-4 text-base">
                Há outras formas de uma instituição receber esse retorno do cliente como por canais de atendimento, por pesquisa de satisfação no site etc.
              </p>
              <p class="indent-4 text-base">
                Todos esses retornos coletados podem proporcionar melhorias para os serviços ou produtos da empresa. A importância dessa ferramenta para o crescimento de uma marca
                aparece quando descobrimos que não é possível perceber as melhorias que um produto ou serviço precisam sem esse retorno. Portanto, é necessária a ajuda do público
                externo.
              </p>
              <h3 class="w-full text-center text-xl font-semibold">Melhorando o ambiente corporativo</h3>
              <p class="indent-4 text-base">
                Já dentro do ambiente corporativo, o feedback traz melhoria no relacionamento da equipe e uma forma de solucionar os pontos cegos que passam despercebidos.
              </p>
              <p class="indent-4 text-base">
                Seja ele de um líder ou um colega de trabalho, é crucial para aprimorar o que deve ser mais bem desenvolvido e exaltar comportamentos que precisam ser mantidos.
              </p>
              <p class="indent-4 text-base">
                Por isso, disseminar a cultura do feedback dentro de uma organização resulta em um nível maior de satisfação do seu público interno e externo. Além de ser uma boa
                oportunidade para fidelizar o seu cliente/consumidor.
              </p>
              <h6 class="text-base">Veja como o feedback pode ajudar a melhorar o ambiente corporativo:</h6>
              <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-base">
                <li>
                  <span class="font-semibold">Motivação para a equipe</span>: os profissionais, sejam eles líderes ou liderados, terão a oportunidade de saber onde estão acertando
                  e errando.
                </li>
                <li>
                  <span class="font-semibold">Ferramenta de escuta</span>: falar é bom, mas aprender a ouvir pode ser transformador. Com o feedback é possível aprender essa
                  habilidade e ensinar o próximo. Portanto, é uma ferramenta de grandes mudanças positivas dentro de um ambiente corporativo.
                </li>
                <li>
                  <span class="font-semibold">Melhora o desempenho</span>: por meio do feedback, o colaborador ou gestor tem a chance de aprimorar suas habilidades e melhorar o seu
                  profissional.
                </li>
                <li>
                  <span class="font-semibold">Processo de aprendizado</span>: esse meio de comunicação é uma via de aprendizado para todas as partes envolvidas, pois, por meio de
                  uma conversa aberta e sincera, é possível corrigir várias falhas que, em muitos casos, passam invisivelmente.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
