<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Quais os tipos de feedback? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Quais os tipos de feedback?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <ol class="flex flex-col gap-1 list-decimal list-inside indent-4 text-xl">
                <li>
                  Feedback construtivo
                  <p class="text-justify text-base indent-8">
                    Esse modelo tem o objetivo de abordar algum comportamento ou atitude que obteve um impacto negativo e que deve ser trabalhado. Para tanto, é necessário dar a
                    ele um caminho para conseguir melhorar em algo.
                  </p>
                  <h3>Exemplos de feedback construtivo:</h3>
                  <p class="text-justify text-base indent-8">
                    Quando um colaborador tem uma atitude impulsiva ou descontrolada no meio de um atendimento, por exemplo, é possível mostrar a ele um caminho para melhorar. A
                    abordagem pode ser:
                  </p>
                  <ul class="text-justify text-base list-disc list-inside indent-8">
                    <li>
                      "Percebemos que você está um pouco agitado nos últimos dias, podemos ajudar? Precisa conversar? É algo aqui na empresa que o incomoda? Às vezes, colocar os
                      sentimentos para fora ajuda a melhorar nosso comportamento. No entanto, precisamos que você se comprometa a não deixar os seus impulsos falarem mais alto
                      durante um atendimento. Conte conosco para o que necessitar".
                    </li>
                  </ul>
                </li>
                <li>
                  Feedback positivo
                  <p class="text-justify text-base indent-8">
                    Esse tem o objetivo de elogiar uma atitude de um profissional ou um comportamento que teve um impacto positivo. Ainda, mostra para esse colaborador que a
                    empresa gostaria que ele repetisse essa atitude.
                  </p>
                  <h3>Exemplos de feedback positivo:</h3>
                  <p class="text-justify text-base indent-8">
                    Citar exemplos reais, vividos pela pessoa avaliada, é importante para que ela entenda do que se trata esse feedback. Portanto, se o colaborador bateu a meta de
                    vendas estabelecidas pelo gestor no mês e foi também elogiado por um cliente, ele precisa saber disso.
                  </p>
                  <h3>Veja como você pode abordar esse feedback:</h3>
                  <ul class="text-justify text-base list-disc list-inside indent-8">
                    <li>"Parabéns, você bateu a sua meta do mês e foi elogiado pelo cliente X, pois foi atencioso em sua ligação. Continue assim!".</li>
                  </ul>
                </li>
                <li>
                  Feedback negativo
                  <p class="text-justify text-base indent-8">
                    Esse é um tipo de feedback que precisa ser pensado com mais detalhes. Afinal, é uma conversa na qual você vai falar sobre algo que deve ser aprimorado.
                  </p>
                  <p class="text-justify text-base indent-8">
                    Não somente, será um comentário negativo, que explicará como uma atitude não foi legal dentro do ambiente de trabalho.
                  </p>
                  <p>Normalmente, existem três tipos de feedback negativo:</p>
                  <ol class="text-justify text-base list-disc list-inside indent-8">
                    <li>Gestor para o colaborador.</li>
                    <li>Colaborador para o gestor.</li>
                    <li>Colaborador para colaborador.</li>
                  </ol>
                  <h3>Exemplos de feedback negativo:</h3>
                  <p class="text-justify text-base indent-8">Quando o gestor precisa falar para o colaborador sobre uma demanda em atraso, ele pode fazer a seguinte abordagem:</p>
                  <ul class="text-justify text-base list-disc list-inside indent-8">
                    <li>
                      "Compreendo que você tem passado por alguns problemas, caso precise de ajuda, estamos aqui para auxiliar. Porém, o fato desse obstáculo ter sido colocado a
                      frente do seu trabalho afetou as suas entregas de demandas nesses dias. Precisamos que você saiba separar melhor essas situações para não impactar o seu
                      desenvolvimento".
                    </li>
                  </ul>
                </li>
                <li>
                  Feedback pessoal
                  <p class="text-justify text-base indent-8">
                    Este tipo de feedback se refere ao comportamento social do colaborador diante das suas responsabilidades e na convivência com os demais colegas de time.
                  </p>
                  <p class="text-justify text-base indent-8">
                    Nesse sentido, ele pode ser positivo, negativo ou construtivo. Sabemos que o novo profissional do mercado valoriza estar em um ambiente com clima organizacional
                    saudável.
                  </p>
                  <p class="text-justify text-base indent-8">
                    Logo, é fundamental oferecer feedback pessoal para evitar conflitos entre colegas de equipe que geralmente ocorrem por diferenças de perfis comportamentais e
                    também por conversas paralelas dentro do ambiente de trabalho.
                  </p>
                </li>
                <li>
                  Feedback insignificante
                  <p class="text-justify text-base indent-8">
                    Como o próprio nome diz, trata-se de uma devolutiva sem propósito. Geralmente, a pessoa que o oferece não se baseia em dados sólidos no momento da conversa
                    one-on-one.
                  </p>
                  <p class="text-justify text-base indent-8">
                    Assim, o feedback em nada agrega positivamente ou de forma construtiva na conduta do colaborador que o recebe, não surtindo efeito algum.
                  </p>
                </li>
                <li>
                  Feedback ofensivo
                  <p class="text-justify text-base indent-8">
                    Por ser extremamente desrespeitoso, esse também é outro tipo de feedback que não deve ser utilizado no ambiente organizacional.
                  </p>
                  <p class="text-justify text-base indent-8">
                    Essa é uma devolutiva oferecida quando o gestor age no “calor do momento” utilizando palavras que ofendem o colaborador que a recebe, por exemplo, “preguiçoso”,
                    “irresponsável”, dentre outros adjetivos que nada tem a agregar na conduta do profissional.
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
