<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Técnicas de Feedback | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Técnicas de Feedback.</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify gap-2">
              <ol class="flex flex-col gap-1 list-decimal list-inside indent-4 text-xl">
                <li>
                  Feedback SCI
                  <p class="text-base indent-8">
                    Trata-se do feedback que ensina os colaboradores a falarem o que deve ser dito, de modo inteligente, absorvendo de maneira positiva, ou seja, deixa de ser
                    somente uma conversa para uma bronca e passa a ser algo construtivo, uma troca de informações que contribuirá para alavancar a produtividade da empresa.
                  </p>
                </li>
                <li>
                  Feedback Sanduíche
                  <p class="text-base indent-8">
                    É a técnica que diz para ser sincero sem ofender. A organização de ideias é o principal no contexto do feedback sanduíche, ajudando a elevar os pontos-chave
                    dessa conversa, sejam eles positivos ou negativos. Portanto, a formação desse feedback é:
                  </p>
                  <ul class="text-base list-disc list-inside indent-8">
                    <li>Elogiar para preparar o colaborador.</li>
                    <li>Falar sobre o ponto que precisa ser melhorado.</li>
                    <li>Encorajar a pessoa a ser melhor, dando o Norte de como fazer isso.</li>
                  </ul>
                </li>
                <li>
                  Feedback 360º
                  <p class="text-base indent-8">
                    Essa é uma ferramenta de avaliação de desempenho, na qual uma pessoa é avaliada por todos à sua volta: superiores, subordinados, prestadores de serviço,
                    clientes e por si mesmo.
                  </p>
                  <p class="text-base indent-8">Um método utilizado para compreender as deficiências do colaborador e ajudá-lo a evoluir em suas competências.</p>
                </li>
                <li>
                  Feedback Canvas
                  <p class="text-base indent-8">Aqui, temos uma ferramenta de avaliação de desempenho com o objetivo de criar um ambiente mais colaborativo e de confiança.</p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
