<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Como construir um feedback adequado? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Como construir um feedback adequado?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify gap-1">
              <p class="indent-4 text-base font-normal">Saber como dar feedback para colaboradores é fundamental. Mas para ele ser construtivo precisa ter alguns elementos.</p>
              <h1 class="text-xl font-semibold">Elementos que devem ser considerados para o feedback</h1>
              <p class="indent-4 text-base font-normal">
                É preciso que o gestor pense em todos os detalhes para que o seu liderado receba a mensagem de forma correta e não somente como uma crítica.
              </p>
              <ul class="flex flex-col gap-1 text-xl font-semibold">
                <li>
                  Contexto
                  <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-base font-normal">
                    <li>
                      É importante saber a realidade da situação que originou o feedback. Portanto, é necessário ser bem transparente e especificar o momento para gerar essa
                      conversa, por exemplo: “na última semana ocorreu um comportamento que foi desfavorável”.
                    </li>
                  </ul>
                </li>
                <li>
                  Comportamento
                  <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-base font-normal">
                    <li>
                      Além do contexto, é necessário informar qual tipo de comportamento foi ou não bom dentro da situação. Assim o colaborador saberá onde precisa melhorar ou se a
                      sua atitude foi correta.
                    </li>
                  </ul>
                </li>
                <li>
                  Impacto
                  <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-base font-normal">
                    <li>
                      Ainda, é preciso explicar o impacto que determinado tipo de comportamento ou atitude causa dentro do ambiente corporativo. Afinal, toda ação tem uma reação.
                    </li>
                    <li>
                      As consequências trazem aprendizados, portanto, o gestor precisa aprender a extrair a mudança que o colaborador necessita para passar a mensagem corretamente.
                    </li>
                  </ul>
                </li>
                <li>
                  Expectativa
                  <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-base font-normal">
                    <li>
                      Para finalizar, feche a conversa mostrando as possíveis saídas para que essa situação não ocorra no futuro. Além disso, você pode perguntar ao profissional se
                      ele tem outra forma de solucionar o ocorrido, agindo de maneira preventiva ao invés de corretiva.
                    </li>
                    <li>
                      Mas deixe claro que você tem a expectativa de melhoria, que conta com o profissional para ajudar a transformar essa situação. Ainda, mostre-se solícito e que
                      esteja ao lado do colaborador para auxiliar no que precisar.
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
