<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Importância da inclusão no mercado de trabalho. | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Importância da inclusão no mercado de trabalho.</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify gap-2">
              <p>
                A inclusão de profissionais diversos tem uma importância cada vez maior no mercado de trabalho atual. Inclusive, essa segue como uma forte tendência para o futuro
                do trabalho em todo o mundo. Em outras palavras, é crucial se alinhar a esses conceitos para não ficar para trás no competitivo mundo dos negócios.
              </p>
              <p>
                Times diversos também agregam muito para o dia a dia da sua empresa. Essas equipes tendem a ser mais criativas, já que contam com pessoas que trazem diferentes
                visões de mundo e histórias de vida, contribuindo com novas soluções e ideias para um bem ou ação comum. Que tal então entendermos melhor como ser uma empresa
                inclusiva pode valorizar a forma como as pessoas percebem sua organização?
              </p>
              <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-xl">
                <li>
                  Pluralidade
                  <p class="text-base indent-8">
                    A partir da pluralidade de experiências e visões, os horizontes da sua organização se ampliarão, inspirando a busca de soluções inovadoras, abrangentes e
                    viáveis. E pode acreditar, isso irá refletir no seu desempenho financeiro.
                  </p>
                </li>
                <li>
                  Fortalecimento da imagem
                  <p class="text-base indent-8">
                    As ações para proporcionar um espaço seguro e acessível para profissionais diversos trazem um maior reconhecimento dos valores da empresa, ajudando a fortalecer
                    a imagem interna e externa da sua cultura organizacional.
                  </p>
                </li>
                <li>
                  Atração e retenção de talentos
                  <p class="text-base indent-8">
                    Estratégias de diversidade e inclusão no processo de recrutamento profissional e ações inclusivas no cotidiano representam um diferencial competitivo na atração
                    de talentos. Além disso, elas contribuem para a diminuição da rotatividade de pessoal.
                  </p>
                </li>
                <li>
                  Tipos de inclusão no mercado de trabalho:
                  <ul class="text-base list-disc list-inside indent-8">
                    <li>Inclusão de Raça, cor, etnia e nacionalidade</li>
                    <li>Inclusão de gênero</li>
                    <li>Inclusão de PCD's</li>
                    <li>Inclusão LGBT+</li>
                  </ul>
                </li>
                <li>
                  Benefícios da política de diversidade e inclusão
                  <p class="text-base indent-8">Existem alguns benefícios claros para as empresas em adotar políticas de diversidade e inclusão. Confira os cinco principais:</p>
                  <ul class="text-base list-disc list-inside indent-8">
                    <li>
                      Estímulo à inovação - times diversos contribuem com sua experiência, trajetória e visão de vida distintas. Isso estimula insights criativos e a inovação.
                    </li>
                    <li>
                      Equipe mais engajada - quando o ambiente é inclusivo, os colaboradores se sentem mais estimulados a colaborar, o que melhora a produtividade e os resultados
                      da equipe.
                    </li>
                    <li>
                      Atração de talentos - profissionais capacitados preferem trabalhar em empresas social e ambientalmente mais responsáveis. Eles entendem, buscam e valorizam
                      essa tendência.
                    </li>
                    <li>
                      Diferencial competitivo - empresas que levam a diversidade e a inclusão a sério estão mais preparadas para lidar com clientes e novos mercados, além de
                      enfrentar desafios mais complexos.
                    </li>
                    <li>
                      Conquistam mais clientes - empresas que realmente valorizam a diversidade e a inclusão e levam isso a sério conquistam mais clientes que se afinizam e querem
                      comprar produtos e serviços de empresas consideradas mais éticas e ambientalmente responsáveis.
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
