<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Quais são os tipos de acessibilidade no trabalho. | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Quais são os tipos de acessibilidade no trabalho.</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify gap-2">
              <p class="text-base indent-4">
                Seja no ambiente físico ou virtual, as soluções devem atender às pessoas com mobilidade reduzida e aquelas que possuem outras deficiências também, como auditiva,
                visual, intelectual etc. Confira como você pode colocar isso em prática na sua organização e aprenda sobre os diferentes tipos de acessibilidade.
              </p>
              <ul class="flex flex-col gap-1 list-disc list-inside indent-4 text-xl font-semibold">
                <li>
                  Acessibilidade comunicacional
                  <p class="text-base indent-8 font-normal">
                    Como o nome sugere, o objetivo é garantir a acessibilidade para uma comunicação sem barreiras. Podemos fazer isso com recursos de audiodescrição, inclusão de
                    legendas, traduções para Libras (Língua Brasileira de Sinais), entre outras soluções.
                  </p>
                </li>
                <li>
                  Acessibilidade arquitetônica
                  <p class="text-base indent-8 font-normal">
                    Rampas de acesso para cadeiras de rodas e espaços adaptados para quem tem mobilidade reduzida são exemplos de como a acessibilidade arquitetônica contribui para
                    a autonomia no ambiente de trabalho.
                  </p>
                </li>
                <li>
                  Acessibilidade metodológica
                  <p class="text-base indent-8 font-normal">
                    A acessibilidade metodológica promove a inclusão por meio do aprendizado, com técnicas adequadas ao desenvolvimento da educação para as pessoas com deficiência.
                  </p>
                </li>
                <li>
                  Acessibilidade instrumental
                  <p class="text-base indent-8 font-normal">
                    Assim como acontece com as adaptações na arquitetura para favorecer a movimentação pelos espaços, a acessibilidade instrumental se baseia em ferramentas e
                    soluções que facilitam a vida e contornam limitações com o uso de objetos necessários no dia a dia.
                  </p>
                </li>
                <li>
                  Acessibilidade atitudinal
                  <p class="text-base indent-8 font-normal">
                    A acessibilidade está nas atitudes, tanto quanto na tecnologia ou em soluções bem projetadas. Afinal, empatia, respeito e acolhimento também têm o poder de
                    eliminar barreiras entre as pessoas.
                  </p>
                </li>
                <li>
                  Acessibilidade programática
                  <p class="text-base indent-8 font-normal">
                    A acessibilidade programática está relacionada às normas e leis inclusivas, com conscientização, entendimento, sensibilidade e respeito aos programas que
                    incentivam e garantem os direitos das pessoas com deficiência.
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
