<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Sobre Nós | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Sobre o Projeto -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Sobre o projeto</h1>
          <div class="flex justify-center w-full">
            <div class="flex justify-center rounded-2xl bg-supernova-500 pl-2 pr-2 pt-2 pb-2">
              <p class="text-base text-justify">
                O projeto em questão foi concebido e desenvolvido por um grupo de estudantes do curso de Assistente de Recursos Humanos do Senac São João da Boa Vista. Ele aborda
                como tema central a 'Humanização de Líderes' no contexto profissional. Após uma minuciosa análise, chegamos à conclusão de que a presença de líderes humanizados
                impacta positivamente em diversas áreas dentro de uma empresa.
                <br />
                <br />
                Diante desse entendimento, identificamos a necessidade de uma solução concreta para promover essa transformação. Nossa resposta a esse desafio foi a criação de uma
                'Plataforma Educacional' abrangente. Essa plataforma foi projetada para oferecer informações e insights valiosos por meio de textos e vídeos explicativos, abordando
                as complexidades da humanização de líderes de maneira didática e simplificada.
                <br />
                <br />
                Nosso objetivo é capacitar tanto líderes quanto colaboradores a compreenderem os benefícios da liderança humanizada e a implementá-la em suas práticas diárias.
                Acreditamos que essa abordagem educativa contribuirá significativamente para a construção de ambientes de trabalho mais saudáveis, colaborativos e produtivos, onde
                todos possam prosperar.
              </p>
            </div>
          </div>
        </div>

        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Sobre nós</h1>

          <!--* Cards Membros da Equipe -->
          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row-reverse absolute right-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-r-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Rafael.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 left-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">Rafael de Morais Vieira</h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-l-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Ana-Laura.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-6/12 projetor:w-6/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 right-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">Ana Laura Cunha Silva</h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row-reverse absolute right-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-r-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Thays.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 left-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">Thays Fernanda Alves</h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-l-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Ana-Lucia.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 right-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">Ana Lucia Dalcin</h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row-reverse absolute right-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-r-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Vivian.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 left-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">Vivian Aparecida Pereira Berth</h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-l-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Ysabelle.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 right-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">
                  Ysabelle Letícia De Souza Albertino
                </h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row-reverse absolute right-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-r-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Nayara.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 left-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">
                  Nayara Kelly Corrêa Lotero Farias
                </h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-l-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Marcia.jpg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 right-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">
                  Marcia Cristina Rodrigues da Silva
                </h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row-reverse absolute right-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-r-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Robson.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 left-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">Robson Luis dos Reis Paiva</h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>

          <div class="flex relative w-full h-36">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 projetor:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-36 rounded-l-full shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Imagem -->
              <img class="rounded-full w-36 h-36 shadow-2xl object-cover" src="../assets/autores/Debora.jpeg" loading="lazy" />
              <!--* Texto -->
              <div
                class="flex absolute desktop:w-9/12 projetor:w-9/12 laptop:w-8/12 tablet:w-7/12 cellphone:w-5/12 h-36 right-0 top-0 pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <h1 class="font-bold desktop:text-2xl projetor:text-xl laptop:text-xl tablet:text-lg cellphone:text-lg text-resolution-blue-950">Débora Gorete de Morais</h1>
                <!-- <p class="font-normal text-sm w-9/12 text-justify">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Morbi leo urna molestie at. Nisi quis
                  eleifend quam adipiscing vitae proin sagittis nisl. Malesuada pellentesque elit eget gravida cum sociis natoque.
                </p> -->
              </div>
            </div>
          </div>
        </div>

        <!--* Parceiros -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Parceiros</h1>
          <div class="flex flex-row overflow-x-auto gap-x-6 scrollbar scrollbar-h-2 scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50">
            <div class="flex flex-col desktop:w-72 projetor:w-72 laptop:w-72 tablet:w-72 cellphone:w-64 h-96 rounded-2xl shadow-lg bg-gray-50 mb-6">
              <!--* Imagem ou Thumbnail -->
              <img
                class="w-full h-40 rounded-2xl shadow-xl"
                src="https://www.sp.senac.br/documents/296839/296841/SJB_fachada_016.jpg/43fb4b98-ca3d-0875-d2a3-df375285c8a5?version=1.0&t=1616601261199null&download=true"
                loading="lazy" />
              <div class="flex flex-col pl-2 pt-2 pr-2 desktop:w-72 laptop:w-72 tablet:w-72 cellphone:w-64 h-full gap-1">
                <h1 class="uppercase text-base font-bold">SENAC - São João da Boa Vista</h1>
                <div class="flex flex-col gap-1 cellphone:text-sm">
                  <a href="https://www.instagram.com/senac.sjboavista/"><i class="ph ph-instagram-logo"></i> - senac.sjboavista</a>
                </div>
              </div>
            </div>

            <div class="flex flex-col desktop:w-72 projetor:w-72 laptop:w-72 tablet:w-72 cellphone:w-64 h-96 rounded-2xl shadow-lg bg-gray-50 mb-6">
              <!--* Imagem ou Thumbnail -->
              <img class="w-full h-40 rounded-2xl shadow-xl object-cover" src="../assets/images/Allessandra.jpg" loading="lazy" />
              <div class="flex flex-col pl-2 pt-2 pr-2 desktop:w-72 laptop:w-72 tablet:w-72 cellphone:w-64 h-full gap-1">
                <h1 class="uppercase text-base font-bold">Allessandra Canuto</h1>
                <div class="flex flex-col gap-1 cellphone:text-sm">
                  <a href="https://www.instagram.com/allessandra.canuto/"><i class="ph ph-instagram-logo"></i> - allessandra.canuto</a>
                  <a href="https://www.youtube.com/@allessandracanuto5345/featured"><i class="ph ph-youtube-logo"></i> - @allessandracanuto5345</a>
                  <a href="https://www.linkedin.com/in/allessandra-canuto-a691a788/"><i class="ph ph-linkedin-logo"></i> - Allessandra Canuto</a>
                  <a href="https://www.facebook.com/allessandracanutooficial/"><i class="ph ph-facebook-logo"></i> - ACSEC - Educação Corporativa</a>
                  <a href="https://skillflow.com.br/" class="uppercase text-xl font-light">Skill <span class="font-cookie lowercase text-3xl font-light">flow</span></a>
                </div>
              </div>
            </div>

            <div class="flex flex-col desktop:w-72 projetor:w-72 laptop:w-72 tablet:w-72 cellphone:w-64 h-96 rounded-2xl shadow-lg bg-gray-50 mb-6">
              <!--* Imagem ou Thumbnail -->
              <img class="w-full h-40 rounded-2xl shadow-xl object-scale-down" src="../assets/images/Henrique.jpg" loading="lazy" />
              <div class="flex flex-col pl-2 pt-2 pr-2 desktop:w-72 laptop:w-72 tablet:w-72 cellphone:w-64 h-full gap-1">
                <h1 class="uppercase text-base font-bold">Henrique Bissoli Malaman Alonso</h1>
                <div class="flex flex-col gap-1 cellphone:text-sm">
                  <a href="https://www.instagram.com/henriquebissoli11/"><i class="ph ph-instagram-logo"></i> - henriquebissoli11</a>
                  <a href="https://www.tiktok.com/@1_henrico"><i class="ph ph-tiktok-logo"></i> - @1_henrico</a>
                  <a href="https://www.linkedin.com/in/henrique-bissoli-malaman-alonso-142a49211/"><i class="ph ph-linkedin-logo"></i> - Henrique Bissoli Malaman Alonso</a>
                  <a href="https://github.com/henrique-1"><i class="ph ph-github-logo"></i> - henrique-1</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
