<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Referências | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Referências</h1>

          <!--* Cards Membros da Equipe -->
          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute right-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  BRASIL, L. <span class="font-semibold">Como Engajar o Gestor no Processo de Contratação | Articles JobConvo.</span>
                  Disponível em:
                  <a class="text-resolution-blue-950 break-all" href="https://jobconvo.com/blog/como-engajar-o-gestor-no-processo-de-contratacao" target="_blank"
                    >https://jobconvo.com/blog/como-engajar-o-gestor-no-processo-de-contratacao</a
                  >. Acesso em: 9 set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  ABLER. <span class="font-semibold">Alta rotatividade de funcionários: como fazer uma reposição rápida?</span> Disponível em:
                  <a class="text-resolution-blue-950 break-all" href="https://blog.abler.com.br/alta-rotatividade-de-funcionarios" target="_blank"
                    >https://blog.abler.com.br/alta-rotatividade-de-funcionarios</a
                  >. Acesso em: 9 set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute right-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  <span class="font-semibold">Inclusão no mercado de trabalho: o que é e qual a importância?</span> Disponível em:
                  <a class="text-resolution-blue-950 break-all" href="https://www.handtalk.me/br/blog/inclusao-no-mercado-de-trabalho" target="_blank"
                    >https://www.handtalk.me/br/blog/inclusao-no-mercado-de-trabalho</a
                  >. Acesso em: 9 set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  SOLIDES. <span class="font-semibold">Aprenda o que é feedback, qual a importância para empresa e veja exemplos para aplicar no dia a dia.</span> Disponível em:
                  <a class="text-resolution-blue-950 break-all" href="https://blog.solides.com.br/feedback" target="_blank">https://blog.solides.com.br/feedback</a>. Acesso em: 9
                  set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute right-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  ADMIN. <span class="font-semibold">Conflito.</span> Disponível em:
                  <a class="text-resolution-blue-950 break-all" href="https://conceitosdomundo.pt/conflito" target="_blank">https://conceitosdomundo.pt/conflito</a>. Acesso em: 9
                  set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  <span class="font-semibold">Humanização no trabalho: o que é e por que é tão importante atualmente.</span> Disponível em:
                  <a
                    class="text-resolution-blue-950 break-all"
                    href="https://www.wareline.com.br/carreiras/humanizacao-no-trabalho-o-que-e-e-por-que-e-tao-importante-atualmente"
                    target="_blank"
                    >https://www.wareline.com.br/carreiras/humanizacao-no-trabalho-o-que-e-e-por-que-e-tao-importante-atualmente</a
                  >. Acesso em: 9 set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute right-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  <span class="font-semibold">Liderança Participativa: O que é e como funciona?</span> Disponível em:
                  <a class="text-resolution-blue-950 break-all" href="https://oadministrador.com/lideranca-participativa-o-que-e-e-como-funciona" target="_blank"
                    >https://oadministrador.com/lideranca-participativa-o-que-e-e-como-funciona</a
                  >. Acesso em: 9 set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute left-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  INDEED. <span class="font-semibold">O que é reconhecimento profissional?</span> Disponível em:
                  <a
                    class="text-resolution-blue-950 break-all"
                    href="https://br.indeed.com/conselho-de-carreira/desenvolvimento-de-carreira/reconhecimento-profissional#:~:text=Reconhecimento%20profissional%20%C3%A9%20a%20maneira%20que%20os%20seus,em%20pr%C3%AAmios%20ou%20certificados%20que%20exaltam%20o%20trabalhador"
                    target="_blank"
                    >https://br.indeed.com/conselho-de-carreira/desenvolvimento-de-carreira/reconhecimento-profissional</a
                  >. Acesso em: 9 set. 2023.
                </p>
              </div>
            </div>
          </div>

          <div class="flex relative w-full desktop:h-20 laptop:h-32 tablet:h-40 cellphone:h-52">
            <div
              class="flex flex-row absolute right-0 top-0 desktop:w-6/12 laptop:w-6/12 tablet:w-6/12 cellphone:w-full h-full rounded-2xl shadow-2xl bg-supernova-500 border-t-2 border-supernova-100">
              <!--* Texto -->
              <div class="flex w-full h-full pl-2 pr-2 pt-2 pb-2 items-center justify-center">
                <p class="font-normal text-sm text-justify">
                  JUSBRASIL.
                  <span class="font-semibold">Assédio Sexual - Responsabilização do empregador e suas implicações jurídicas</span>
                  Disponível em:
                  <a
                    class="text-resolution-blue-950 break-all"
                    href="https://www.jusbrasil.com.br/artigos/assedio-sexual-responsabilizacao-do-empregador-e-suas-implicacoes-juridicas/1937465367"
                    target="_blank"
                    >https://www.jusbrasil.com.br/artigos/assedio-sexual-responsabilizacao-do-empregador-e-suas-implicacoes-juridicas/1937465367</a
                  >. Acesso em: 9 set. 2023.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
