<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Os desafios do engajamento de gestores no recrutamento. | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header class="flex flex-row desktop:h-24 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Os desafios do engajamento de gestores no recrutamento.</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 text-justify">
              <p class="indent-4 text-base">
                Alguns passos podem ser dados pela equipe do RH e outros responsáveis, mas existem etapas que precisam majoritariamente da presença dos gestores, como a análise das
                experiências dos candidatos, análise dos perfis mais adequados, entrevistas finais etc. Afinal, os líderes são aqueles que têm um conhecimento mais aprofundado e os
                que devem realizar as decisões finais. A dificuldade de conciliar horários e as outras demandas diárias acabam gerando a falta de engajamento. Veja abaixo outros
                principais fatores que podem gerar isso:
              </p>
              <ul class="list-disc list-inside indent-4 text-base">
                <li>O gestor não entende a importância do seu papel e opinião para um processo bem-sucedido.</li>
                <li>O gestor não compreende que ele pode auxiliar na diminuição da taxa de <span class="text-electric-violet-500 font-medium">turnover</span>.</li>
                <li>Pouca proximidade com a área de gestão de pessoas.</li>
                <li>Falta de confiança nas decisões da empresa.</li>
                <li>Falta de conhecimento sobre o processo de Recrutamento e Seleção.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
