<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Como engajar o gestor no processo de contratação? | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Como engajar o gestor no processo de contratação?</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <p class="indent-4 text-base">
                Os gestores e todas as áreas da empresa precisam entender como o processo de contratação de novos colaboradores funciona. Todos precisam saber que uma boa
                contratação ocorre devido a uma boa avaliação dos gestores e um bom processo de recrutamento. Além disso, as vantagens da eficácia do R&S beneficiam toda a empresa
                e todas as áreas envolvidas.
              </p>
              <ol class="flex flex-col gap-1 list-decimal list-inside indent-4 text-xl">
                <li>
                  Saiba quais são as necessidades dos gestores
                  <p class="text-justify text-base indent-8">
                    O setor de RH deve buscar entender quais são as necessidades dos gestores, seja qual for a área. Saber quais são as necessidades desses profissionais de
                    liderança pode ajudar o RH a aprimorar os processos e auxiliá-los de forma correta. O ideal é que eles sejam sempre ouvidos quando uma nova demanda surgir. Além
                    disso, também é bom que um levantamento seja feito em conjunto com eles para anotar os detalhes e as expectativas.
                  </p>
                </li>
                <li>
                  Promova uma boa comunicação
                  <p class="text-justify text-base indent-8">
                    Garantir uma comunicação eficiente é uma das chaves para um bom engajamento, inclusive em relação aos gestores no processo seletivo. Manter um diálogo constante
                    traz muitas vantagens e contribui para a construção de soluções em conjunto, viabilizando a participação de todos os envolvidos. Vale lembrar também que o
                    diálogo permite que os dois lados troquem feedbacks sobre diversas questões importantes, seja em relação aos candidatos ou sobre o processo em si. Se o RH fizer
                    isso, os impactos positivos serão visíveis: identificação de potencialidades e lacunas, contratações mais assertivas, retenção de talentos, diminuição do
                    turnover etc. Não podemos esquecer que isso também contribui para um <span class="text-electric-violet-500 font-medium">RH mais estratégico</span>, que pode
                    trazer resultados cada vez melhores para todo o negócio.
                  </p>
                </li>
                <li>
                  Tenha uma persona realista para a contratação de novos colaboradores
                  <p class="text-justify text-base indent-8">
                    O gestor costuma lidar com inúmeras atividades na empresa. Por isso, agilizar esse processo pode contribuir para o seu engajamento. Decidir em conjunto a
                    persona ideal facilita o Fit Cultural e todo o processo de R&S. Busque entender quais são as competências necessárias, experiências, objetivos, soft skills etc.
                    Isso deve ser alinhado com todas as partes interessadas e deve haver um consenso antes de iniciar a procura pelos novos candidatos. Também é essencial mostrar
                    ao gestor que nem sempre é possível contratar profissionais exatamente como eles desejam. A expectativa pode ser essa, mas a realidade possui variáveis e
                    questões que devem ser analisadas
                  </p>
                </li>
              </ol>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
