<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../styles/output.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="../scripts/currentYear.js"></script>
    <title>Tipos de Conflitos. | Humanize-se</title>
  </head>
  <body
    class="flex flex-col w-full h-full font-poppins scroll-smooth scrollbar-thin scrollbar-thumb-resolution-blue-950 scrollbar-track-supernova-50 scrollbar-thumb-rounded-full bg-supernova-50 gap-6">
    <header
      class="flex flex-row desktop:h-20 projetor:h-20 laptop:h-20 tablet:h-20 cellphone:h-14 justify-around items-center bg-supernova-500 border-b-resolution-blue-950 border-b-4">
      <a class="uppercase text-7xl font-mandan text-resolution-blue-950" href="../../../index.html">Humanize-se</a>
    </header>
    <article class="flex bg-supernova-50 justify-center">
      <div class="flex flex-col desktop:w-5/6 projetor:w-5/6 laptop:w-11/12 tablet:w-11/12 cellphone:w-11/12 gap-6">
        <!--* Membros da Equipe -->
        <div class="flex flex-col pl-4 pr-4 gap-4 w-full h-auto relative">
          <h1 class="uppercase font-bold text-3xl underline underline-offset-1 text-resolution-blue-950">Tipos de Conflitos.</h1>
          <div class="flex w-full justify-center">
            <div
              class="flex flex-col desktop:w-3/6 projetor:w-full laptop:w-full tablet:w-full cellphone:w-full border-t-2 border-supernova-100 bg-supernova-500 rounded-2xl shadow-2xl pl-2 pr-2 pt-2 pb-2 gap-2 text-justify">
              <ul class="flex flex-col text-base font-normal gap-1">
                <li>
                  <span class="font-semibold">Conflitos intrapessoais</span>: Eles ocorrem dentro de uma pessoa com ela mesma. Geralmente, ocorrem devido à dissonância entre
                  sentir, pensar e fazer.
                </li>
                <li>
                  <span class="font-semibold">Conflitos interpessoais</span>: Ocorrem entre duas ou mais pessoas, os participantes têm preconceitos entre si e costumam estar unidos
                  por laços mais estreitos, muitas vezes a origem desses conflitos está relacionada a fatores emocionais. Podem ser: unilaterais, quando apenas uma das partes tem
                  reclamação ou disputa com outra; ou bilateral, quando ambas as partes desejam algo.
                </li>
                <li><span class="font-semibold">Conflitos de grupo</span>: Eles ocorrem quando o problema se origina entre grupos de pessoas por vários motivos.</li>
              </ul>
              <p class="text-base font-normal indent-4">Os conflitos individuais ou de grupo podem ser classificados de acordo com suas características em:</p>
              <ul class="flex flex-col text-base font-normal gap-1">
                <li>
                  <span class="font-semibold">Conflitos ideológicos</span>: Pessoas ou grupos com posições ideológicas ou políticas opostas, ou que defendem interesses diferentes,
                  enfrentam-se. As diferenças de posições são geralmente muito claras e, em alguns casos, podem se transformar em conflitos armados se uma ou ambas as partes têm ou
                  desejam o poder.
                </li>
                <li>
                  <span class="font-semibold">Conflitos religiosos</span>: Diferentes setores dentro do mesmo culto ou membros de diferentes cultos que se opõem se enfrentam. As
                  disputas têm a ver com a interpretação das escrituras correspondentes ou das doutrinas que se escolhe adotar. Esses conflitos tiveram resultados violentos ao
                  longo da história.
                </li>
                <li>
                  <span class="font-semibold">Conflitos políticos</span>: Facções ou setores que buscam obter o poder político, econômico e territorial de uma face de um Estado. Em
                  algumas ocasiões, os conflitos políticos desencadeiam guerras civis ou conflitos armados entre países.
                </li>
                <li>
                  <span class="font-semibold">Conflitos filosóficos</span>: Enfrentam-se pessoas ou grupos com diferentes interpretações de um tema, de uma escola ou de um
                  problema, e muitas vezes cada visão exclui as outras. Esses conflitos geralmente não geram conflitos maiores.
                </li>
                <li>
                  <span class="font-semibold">Conflitos armados</span>: Eles enfrentam grupos que geralmente são militares ou paramilitares que buscam obter o poder, território ou
                  recurso contestado pela força.
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </article>
    <footer
      class="flex flex-col desktop:h-14 projetor:h-14 laptop:h-14 tablet:h-14 cellphone:h-20 justify-start items-center bg-supernova-500 border-t-resolution-blue-950 border-t-4 pl-2 pr-2 pt-2 pb-2">
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../about.html">Sobre</a>
        <a class="underline underline-offset-1 text-resolution-blue-950 text-xs font-normal" href="../../referencias.html">Referências</a>
        <p class="text-xs font-light">&copy; <span id="currentYear"></span> Rafael de Morais Vieira</p>
      </nav>
      <nav class="flex flex-row h-full w-full gap-4 items-center justify-center">
        <h6 class="text-xs font-light text-resolution-blue-950">Os conteúdos disponíveis neste website são para fins estudantis.</h6>
      </nav>
    </footer>
  </body>
</html>
